<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="/css/editarUsuario.css">
</head>
<body>
    <form action="/users/editarUsuario/<%=user.id%>" method="post">
        <h1>EDITAR USUARIO</h1>
        <input type="text" name="nombre" placeholder="Nombre Nuevo" value="<%= locals.oldData ? oldData.nombre : null %>">
        <% if (locals.errors && errors.nombre) { %>
            <div>
                <p><%= errors.nombre.msg %></p> 
            </div>
        <% } %>
        <input type="text" name="apellido" placeholder="Apellido Nuevo" value="<%= locals.oldData ? oldData.apellido : null %>">
        <% if (locals.errors && errors.apellido) { %>
            <div>
                <p><%= errors.apellido.msg %></p> 
            </div>
        <% } %>
        <button type="submit">Editar Usuario </button>
    </form>
</body>
</html>