<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createProduct.css">
    <script src="/js/validatorCreateProduct-front.js"></script>
    <title>Creacion de Producto</title>
</head>
<body>
    <article>
        <form action="/product/createProduct" method="post" enctype="multipart/form-data" id="formularioCreateProduct">
            <div class="errorsCreateProduct">
                <ul> </ul>
            </div>
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="nombre" id="product-name" value="<%= locals.oldData ? oldData.nombre : null %>">
            <% if (locals.errors && errors.nombre) { %>
                <div>
                    <p><%= errors.nombre.msg %></p> 
                </div>
            <% } %>
 
            <label for="descricion">Descripcion del producto</label>
            <input type="text" name="descripcion" id="product-description"></input>
            <% if (locals.errors && errors.descripcion) { %>
                <div>
                    <p><%= errors.descripcion.msg %></p> 
                </div>
            <% } %>
            
            <label for="precio">Precio del producto</label>
            <input type="number" name="precio" id="product-price" value="<%= locals.oldData ? oldData.precio : null %>">
            <% if (locals.errors && errors.precio) { %>
                <div>
                    <p><%= errors.precio.msg %></p> 
                </div>
            <% } %>
            
            <label for="categoria">Categoria del producto</label>
            <select name="categoria" id="product-category">

                <option value="">Elige una categoria</option>
                <% 
                let categorias = ["Animales","Paisajes","Ilustraciones","Vehiculos"]
                %>

                <% for( const unaCategoria of categorias) { %>
                <option 
                    value=" <%= unaCategoria %>"
                    <% locals.oldData && (unaCategoria === oldData.categoria) ? "selected" : null %>
                    > <%= unaCategoria %></option>
                <% } %>
            </select>
            <% if (locals.errors && errors.categoria) { %>
                <div>
                    <p><%= errors.categoria.msg %></p> 
                </div>
            <% } %>

            <label for="product-image" class="custom-file-upload" id="imagenCreateProduct">
                Elegir imagen del producto
                <input type="file" name="imagenProducto" id="product-image" accept=".png,.jpg,.webp,.jpeg,.gif">
                <% if (locals.errors && errors.imagenProducto) { %>
                    <div>
                        <p><%= errors.imagenProducto.msg %></p> 
                    </div>
                <% } %>
            </label>
            <button type="submit">Crear Producto</button>
        </form>
    </article>
</body>
</html>