<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/916727133d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/editionProduct.css">
    <title>Edicion de Producto</title>
</head>
<body>
    <article>
        
        <form action="/product/editionProduct/<%= producto.id%>" method="post">
            
            <label for="product-name">Nombre del producto</label>
            <input type="text" name="nombre" id="product-name" value="<%= locals.oldData ? oldData.nombre : null %>">
            <% if (locals.errors && errors.nombre) { %>
                <div>
                    <p><%= errors.nombre.msg %></p> 
                </div>
            <% } %>

            <label for="product-description">Descripcion del producto</label>
            <input type="text" name="descripcion" id="product-description"></input>
            <% if (locals.errors && errors.descripcion) { %>
                <div>
                    <p><%= errors.descripcion.msg %></p> 
                </div>
            <% } %>

            <label for="product-price">Precio del producto</label>
            <input type="number" name="precio" id="product-price"  value="<%= locals.oldData ? oldData.precio : null %>">
            <% if (locals.errors && errors.precio) { %>
                <div>
                    <p><%= errors.precio.msg %></p> 
                </div>
            <% } %>

            <label for="categoria">Categoria del producto</label>
            <select name="categoria" id="product-category">

                <option value="">Elige una categoria</option>
                <% 
                let categorias = ["Animales","Paisajes","Ilustraciones","Vehiculos"]
                %>

                <% for( const unaCategoria of categorias) { %>
                <option 
                    value=" <%= unaCategoria %>"
                    <% locals.oldData && (unaCategoria === oldData.categoria) ? "selected" : null %>
                    > <%= unaCategoria %></option>
                <% } %>
            </select>
            <% if (locals.errors && errors.categoria) { %>
                <div>
                    <p><%= errors.categoria.msg %></p> 
                </div>
            <% } %>


            <button type="submit">Editar Producto</button>
        </form>
    </article>
</body>
</html>